* {
	margin: 0px;
	padding: 0px;
}

body {
	
	width: 100%;
	height: 100%;
	margin: 0.8em auto;
	background-color: #9000FF

}

header, section, article, aside, nav, hgroup, footer {
	display: block;
}

nav {
	color: #112799;
	font-weight: bold;
	margin-left: 1%
}

ul li {
	list-style: none;
}

#mainNav li {
	float: left;
	display: inline-block;
	padding: 0.5% 1% 0.5% 1%;
	background-color: lightblue;
	margin: 1% 0.2% 0.1% 0%;
	border: 1px solid green;
	border-radius: 5px;
	box-shadow: rgb(110,50,110) -3px 3px 3px;

}

p[name*=red] {
	color: red;
}

p:nth-child(2n) {
	text-decoration: underline;
	font-style: italic;
	font-weight: bold;
}

h1 {
	font: bold Tahoma;
}

#body_header {

	border: 3px solid black;
	height: 2%;
	background: radial-gradient(300px 200px, black, white)
}

#body_header h1 {
	color: pink;
	padding: 1em;
	text-shadow: #F3228A 3px 3px 3px;
}

section {

	clear: left;
	float: left;
	width: 74%;
	margin: 1%;

}

#footer {
	text-align: center;
	clear: both;
	padding: 20px;
	border-top: 2px solid blue
}

aside {
	float: right;
	width: 20%;
	background-color: #BCB8FF;
	height: 100%;
	margin: 1%;
	padding: .5%;
	border: 1px solid red;
}


article {
	background: #FFFBCC;
	padding: 1.5em;
	border: 1px solid purple;
	margin: 1em;
	border-radius: 10px;
}

article > p {
	text-indent: 5px;
}

article footer {
	text-align: right;
}